/*
#    /$$$$$$                        /$$
#   /$$__  $$                      | $$
#  | $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
#  | $$$$     /$$__  $$| $$__  $$|_  $$_/   /$$_____/
#  | $$_/    | $$  \ $$| $$  \ $$  | $$    |  $$$$$$
#  | $$      | $$  | $$| $$  | $$  | $$ /$$ \____  $$
#  | $$      |  $$$$$$/| $$  | $$  |  $$$$/ /$$$$$$$/
#  |__/       \______/ |__/  |__/   \___/  |_______/
#
#
#
*/


/*
#                                                               /$$
#                                                              | $$
#    /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$
#   /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$
#  | $$  \ $$| $$$$$$$$| $$  \ $$| $$$$$$$$| $$  \__/  /$$$$$$$| $$
#  | $$  | $$| $$_____/| $$  | $$| $$_____/| $$       /$$__  $$| $$
#  |  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$| $$      |  $$$$$$$| $$
#   \____  $$ \_______/|__/  |__/ \_______/|__/       \_______/|__/
#   /$$  \ $$
#  |  $$$$$$/
#   \______/
*/
* { box-sizing: border-box; }

html { font-size: 100%; }

@keyframes highlighter {
    to {
        text-shadow: 0 0 5px #FFFFFF;
    }
}

.active{
    animation: highlighter 1s infinite alternate;
}

input{
    background-color: rgba(255,255,255, .5);
    border: 2px solid darkgrey;
    border-radius: 6px;
    color: white;
}

input.forms{
    width: 450px;
    height: 30px;
}

input#message{
    width: 450px;
    height: 150px;
}

input#send{
    width: 200px;
    height: 30px;
    background-color: rgba(255,255,255, 0);
}

body{
    background-color: #222222;
    color: white;
}

/*=-------------------------------=
HOME
=-------------------------------=*/
.home-intro{
	background-color: black;
	width: 50%;
	margin: auto;
	color: white;
	padding: 2rem;
	margin-top: 2rem;
}

.section{
	background: darkgray;
	color: dimgrey;
	width: 33%;
	display: block;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.text{
    text-align: right;
    padding-right: 30px; 
}

.col-6.home-text{
    padding-top: 200px;
}

img#homeselfie{
    max-width: 500px;
    padding-left: 30px;
    padding-top: 50px;
}

/*=-------------------------------=
UPCOMING
=-------------------------------=*/

img#upcoming{
    display: block;
    margin: auto;
    padding: .5rem 0rem 0rem;
    max-width: 700px;
}

.text-upcoming{
    text-align: center;
    margin-bottom: 5rem;
}

.text-upcoming p{
    margin: 0rem;
}

/*=-------------------------------=
RESUME
=-------------------------------=*/
.resume-wrap{
    background: dimgrey; 
    padding: 2rem;
}

.text-resume{
    text-align: center;
    font-size: 2rem;
}

.award{
    padding-top: 5rem;
}

.text-honors h1{
    text-align: center;
    font-size: 2rem;
}

img.award{
    display: block;
    margin: auto;
}

.text-honors li{
    display: block;
    margin: 1rem;
    text-align: left;
}

/*=-------------------------------=
CONTACT
=-------------------------------=*/
.contact-input{
    display: inline-block;
    text-align: center;
    margin-top: 7%;
}

.contact-info{
    display: inline-block;
    float: right;
    text-align: center;
    margin-top: 15%;
}

.social{
    margin-top: 17%;
    filter: grayscale(100%);
}

.contact-info li{
    display: block;
    margin: 1rem;
}

.imagesize{
    max-width: 100%;
}

img.token{
    max-width: 45%;
}
/*--------------------------------------------------------
NAV
--------------------------------------------------------*/

.nav{
    background-color: #a6a6a6;
    text-align: center;
    position: fixed;
    bottom: -17px;
    width: 100%;
}

nav ul{
    list-style: none;
    margin: 0;
}

li{
    display: inline-block;
    margin: 1.5rem 4rem;
}

ul li a{
    color: white;
    text-decoration: none;
}

/*--------------------------------------------------------
GRID SYSTEM
--------------------------------------------------------*/

.row{
    overflow: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  padding: 16px;
  width: 100%;
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.wrap-flex{
    display: flex;
    flex-flow: row wrap;
    background-color: tomato;
    justify-content: center;
    max-width: 60%;
    padding-top: 20px;
    margin: 0;
}

.wrap-flex > *{
background-color: blue;
padding: 10px;
}

.icon{
    display: flex;
    background-color: tomato;
    max-width: 40%;
}
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

/*media queries from week 4, not ready to impliment into actual code yet but keeping examples for refernces
/*
@media screen and (min-width: 635px) {
    .home-intro {
        background-color: white;
        color: black;
    }
} 


@media screen and (max-width: 879px) {
    .home-intro {
        background-color: teal;
        color: black;
        font-size: .7rem;
        transition: font-size 1s ease;
    }
}

@media screen and (max-width: 600px) {
    .section {
        background-color: teal;
        color: white;
        font-size: .6rem;
        transition: font-size 1s ease; 
    }

    .resume-wrap{
    	background: black;
    }
}

@media screen and (min-width: 1000px) {
    .section {
        background-color: lightgrey;
        color: black; 
    }

    .resume-wrap{
    	background: black;
    }
}

@media screen and (max-width: 550px) {
    .contact-input{
    	display: block;
    	width: 100%;
    }
    .contact-info {
    	display: block;
    	float: left;
		width: 100%;
      }
}
*/